<div class="row">
    <div (click)="onClick(album);" class="card col-sm-3 my-1 mx-4" *ngFor="let album of filteredAlbums">
        <div class="card-body">
            <h2 class="card-title">
                <a routerLink="Albums/{{album.id}}/songs">
                    {{album.name}}
                </a>
            </h2>
        </div>
        <div class="card-text">
            <ul>
                <li>
                    {{album.artist}}
                </li>
            </ul>
        </div>
        
    </div>
</div>
